body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:650px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:317px;
  background:inherit;
  background-color:rgba(153, 199, 182, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:423px;
  width:650px;
  height:317px;
  display:flex;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00734A;
  text-align:center;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:29px;
  width:412px;
  height:43px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00734A;
  text-align:center;
}
#u34 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00734A;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:90px;
  width:412px;
  height:24px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00734A;
}
#u35 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#00734A;
  text-align:justify;
  text-justify:inter-word;
  line-height:18px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:133px;
  width:412px;
  height:54px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#00734A;
  text-align:justify;
  text-justify:inter-word;
  line-height:18px;
}
#u36 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 115, 74, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 115, 74, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:207px;
  width:236px;
  height:40px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:479px;
  background:inherit;
  background-color:rgba(153, 199, 182, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:479px;
  display:flex;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:479px;
  background:inherit;
  background-color:rgba(153, 199, 182, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:100px;
  height:479px;
  display:flex;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Semibold', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:15px;
  color:#00734A;
  text-align:center;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:455px;
  width:113px;
  height:20px;
  display:flex;
  font-family:'Segoe UI Semibold', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:15px;
  color:#00734A;
  text-align:center;
}
#u41 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Semibold', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:15px;
  color:#00734A;
  text-align:center;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:445px;
  width:113px;
  height:40px;
  display:flex;
  font-family:'Segoe UI Semibold', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:15px;
  color:#00734A;
  text-align:center;
}
#u42 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Semibold', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:15px;
  color:#00734A;
  text-align:center;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:445px;
  width:113px;
  height:40px;
  display:flex;
  font-family:'Segoe UI Semibold', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:15px;
  color:#00734A;
  text-align:center;
}
#u43 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:49px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:442px;
  width:2px;
  height:46px;
  display:flex;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:49px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:442px;
  width:2px;
  height:46px;
  display:flex;
}
#u45 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:526px;
  width:40px;
  height:40px;
  display:flex;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:532px;
  width:40px;
  height:28px;
  display:flex;
}
#u47 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:526px;
  width:40px;
  height:40px;
  display:flex;
}
#u48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#00734A;
  text-align:justify;
  text-justify:inter-word;
  line-height:11px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:603px;
  width:412px;
  height:110px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#00734A;
  text-align:justify;
  text-justify:inter-word;
  line-height:11px;
}
#u49 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u49_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#00734A;
  text-align:justify;
  text-justify:inter-word;
  line-height:18px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:277px;
  width:412px;
  height:36px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#00734A;
  text-align:justify;
  text-justify:inter-word;
  line-height:18px;
}
#u50 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 115, 74, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 115, 74, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:334px;
  width:236px;
  height:40px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u33.a {
  top:484px;
  width:374px;
  height:498px;
}
#u33_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:498px;
  background:inherit;
  background-color:rgba(153, 199, 182, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33.a {
  top:484px;
  width:374px;
  height:498px;
}
#u33_text.a {
}
#u33 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u34.a {
  left:36px;
  top:35px;
  width:302px;
}
#u34_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00734A;
  text-align:center;
}
#u34.a {
  left:36px;
  top:35px;
  width:302px;
}
#u34_text.a {
}
#u34 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u35.a {
  left:36px;
  top:96px;
  width:302px;
}
#u35_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#00734A;
}
#u35.a {
  left:36px;
  top:96px;
  width:302px;
}
#u35_text.a {
}
#u35 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u36.a {
  left:36px;
  top:149px;
  width:302px;
  height:72px;
}
#u36_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#00734A;
  text-align:justify;
  text-justify:inter-word;
  line-height:18px;
}
#u36.a {
  left:36px;
  top:149px;
  width:302px;
  height:72px;
}
#u36_text.a {
}
#u36 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u37.a {
  left:69px;
  top:254px;
}
#u37_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 115, 74, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 115, 74, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u37.a {
  left:69px;
  top:254px;
}
#u37_text.a {
}
#u37 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u38.a {
}
#u38_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:479px;
  background:inherit;
  background-color:rgba(153, 199, 182, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38.a {
}
#u38_text.a {
}
#u38 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u39.a {
}
#u39_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:479px;
  background:inherit;
  background-color:rgba(153, 199, 182, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39.a {
}
#u39_text.a {
}
#u39 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u41.a {
  left:36px;
  top:523px;
  width:302px;
}
#u41_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Semibold', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:15px;
  color:#00734A;
  text-align:center;
}
#u41.a {
  left:36px;
  top:523px;
  width:302px;
}
#u41_text.a {
}
#u41 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u42.a {
  left:36px;
  top:592px;
  width:302px;
  height:20px;
}
#u42_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Semibold', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:15px;
  color:#00734A;
  text-align:center;
}
#u42.a {
  left:36px;
  top:592px;
  width:302px;
  height:20px;
}
#u42_text.a {
}
#u42 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u43.a {
  left:36px;
  top:660px;
  width:301px;
  height:20px;
}
#u43_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Semibold', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:15px;
  color:#00734A;
  text-align:center;
}
#u43.a {
  left:36px;
  top:660px;
  width:301px;
  height:20px;
}
#u43_text.a {
}
#u43 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u44.a {
  left:186px;
  top:544px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u44_img.a {
}
#u44.a {
  left:186px;
  top:544px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u44_text.a {
}
#u44 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u45.a {
  left:186px;
  top:613px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u45_img.a {
}
#u45.a {
  left:186px;
  top:613px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u45_text.a {
}
#u45 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u46.a {
  left:89px;
  top:710px;
}
#u46_img.a {
}
#u46.a {
  left:89px;
  top:710px;
}
#u46_text.a {
}
#u46 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u47.a {
  left:245px;
  top:716px;
}
#u47_img.a {
}
#u47.a {
  left:245px;
  top:716px;
}
#u47_text.a {
}
#u47 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u48.a {
  left:167px;
  top:710px;
}
#u48_img.a {
}
#u48.a {
  left:167px;
  top:710px;
}
#u48_text.a {
}
#u48 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u49.a {
  left:36px;
  top:789px;
  width:302px;
  height:154px;
}
#u49_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#00734A;
  text-align:justify;
  text-justify:inter-word;
  line-height:11px;
}
#u49.a {
  left:36px;
  top:789px;
  width:302px;
  height:154px;
}
#u49_text.a {
}
#u49 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u50.a {
  left:36px;
  top:323px;
  width:302px;
  height:54px;
}
#u50_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#00734A;
  text-align:justify;
  text-justify:inter-word;
  line-height:18px;
}
#u50.a {
  left:36px;
  top:323px;
  width:302px;
  height:54px;
}
#u50_text.a {
}
#u50 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u51.a {
  left:69px;
  top:407px;
}
#u51_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 115, 74, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 115, 74, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u51.a {
  left:69px;
  top:407px;
}
#u51_text.a {
}
#u51 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
